@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --smallTextColor: #1C1C1C;
    --buttonBackgroundColor: #FFBB1C;
    --lightTextColor: white;
    --smallDevicesMaxWidth: 767px;
    --smallDevicesMinWidth: 480px;
    --mediumDevicesMaxWidth: 991px;
    --mediumDevicesMinWidth: 768px;
    
}
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}
header{
    justify-content: center;
    align-items: center;
    color: var(--lightTextColor);
    background-color: #0B9586;
    /* height: 86px; */
    padding: 10px 0;
    margin-bottom: 0;
}
nav ul{
    justify-content: space-between;
    /* background-color: red; */
    margin-right: 100px  ;
}

nav ul li a{
    color: var(--lightTextColor);
    margin-right: 60px;
}
.callUs-div{
    text-align: end;
}
.callUs-div p span{
    font-size: 24px;
    font-weight: 700;
}
#check{
    display: none;
}
label{
    font-size: 26px;
    cursor: pointer;
    transition: 0.2s;
    display: none;
}

label:active{
    transform: scale(.90);
}
a{
    text-decoration: none;
}
nav ul,
.left-side-footer ul,
.footer-lower-div ul
{
    list-style: none;
}
.header-div{
    justify-content: space-between;
    align-items: center;
}
.first-section{
    background-image: url("./Images/solar-panels-meadow\ 1.png");
    background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.line{
    display: flex;
    width: fit-content;
    margin-top: -100px;
    /* margin-bottom: 100px; */
    /* background-color: #ff0000; */
    /* padding: 0; */
    justify-content: center;
    align-items: center;
}
.line::before{
    content: "01";
    margin-right: 15px;
    color: white;
}
.line::after{
    margin-left: 15px;
    content: "04";
    color: white;
}
.secondLine{
    border-top: 4px solid #575757;
    width: 150px;
}
.firstLine{
    border-top: 4px solid white;
    width: 80px;
}
.first-section-div{
    color: var(--lightTextColor);
}
.first-section-div h1{
    font-size: 52px;
    font-weight: 600;
}
.first-section-div p{
    font-size: 20px;
    font-weight: 600;
}
.text-div{
    margin-top: 100px;
    width: 60%;
}
.first-section-buttons button{
    border-radius: 100px;
    margin-top: 20px;
    border: none;
    padding: 10px 40px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;
}
.call-btn{
    color: var(--lightTextColor);
    background-color: #3CAB90;
}
.call-back-btn{
    color: #2A3334;
    background-color: var(--buttonBackgroundColor);
}
.solar-kits-section, .solar-kits-div{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.solar-kits-section{
    padding: 50px 0;
}
.solar-kits-title{
    text-align: center;
    width: 75%;
}
.solar-kits-title p{
    color: #475467;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.solar-kits-title h1{
    color: #101828;
    font-size: 42px;
    font-weight: 600;
    line-height: 50px;
}
.solar-kits-card{
    margin: 20px;
    box-shadow: 0  4px 30px rgb(0, 0, 0,0.05);
}
.card-text{
    padding: 0 20px 20px 20px;
}
.card-text h3{
    font-size: 20px;
    font-weight: 600;
    color: #101828;
}
.card-text p, .installers-left-side p{
    font-size: 16px;
    font-weight: 400;
    color: #475467;
}
.card-text button ,.card-text button a{
    font-size: 16px;
    font-weight: 600;
    padding-right: 10px;
    color: #3CAB90;
}
.card-text button {
    border: none;
    background-color: transparent;
}

@media (max-width: 991px){
    .solar-kits-cards{
        flex-direction: column;
    }
}

.installers-section{
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.installers-div{
    justify-content: space-between;
}
.installers-left-side h1{
    color: #101828;

}
.installers-left-side {
    width: 50%;
}
.installers-left-side ul{
    list-style: none;
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    color: #101828;
    line-height: 40px;
    margin-top: 50px;
}
.installers-left-side ul li span{
    color: #84BD3A;
}
.solar-charging-div{
    background-color: var(--buttonBackgroundColor);
    border-radius: 12px;
    width: 20%;
    color: #2A3334;
    font-weight: 400;
    font-size: 18px;
    position: absolute;
    /* top: 30px; */
    margin-top: -240px;
    margin-left: -50px;
    /* left: -50px; */
    padding: 20px;
}
.energy-innovators-section{
    background-color: rgb(255, 252, 244);
    justify-content: center;
    align-items: center;
    margin: -25px;
    padding: 50px 0;
}
.energy-icon div{
    background-color: #3CAB90;
    border-radius: 12px;
    padding: 8px;
    /* width: 50px;
    height: 46px; */
}
.energy-icon{
    border: 12px solid #E2F0E5;
    border-radius: 15px;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.energy-card{
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    border: 1px solid #3CAB90;
    background-color: #F5F8EF;
}
.mock-image{
    border-radius: 15px;
    background-color: rgb(229,229,229);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
.energy-div{
    justify-content: space-between;

}
.energy-title{
    width: 100%;
}
.energy-title h1{
    color: #101828;
    font-weight: 600;
    font-size: 42px;
}
.energy-title p{
    color: #475467;
    font-weight: 400;
    font-size: 18px;
}
header,
.energy-div,
.installers-div,
.energy-innovators-section,
.installers-section,
.solar-kits-cards,
.header-div,
nav ul,
.solar-kits-section,
.our-values-section,
.what-they-say-section,
.what-they-say,
.left-side,
.people-that-say-slider,
.footer-lower-div ul,
.repairs-over-replacement-sect,
.left-side-footer ul,
.power-section,
.left-side-footer,
.what-they-say,
footer,
.footer-upper-div,
.subscribe-container-input,
.repairs-over-replacement-section{
    display: flex;
}
.our-values-section{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 8%;
}
.our-values-section h1{
    font-size: 42px;
    color: #101828;
}
.our-values-description-txt{
    color: #475467;
    font-size: 18px;
    font-weight: 400;
}
.our-values-section-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    grid-column-gap: 1em;
    margin-top: 15px;
}
.energy-cards{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 992px){
    .our-values-section-cards{
        grid-template-columns: repeat(2,1fr);
        width: 100%;
        grid-template-rows: repeat(2,1fr);
        grid-row-gap: 1em;
    }
    .what-they-say{
        flex-direction: column;
        gap: 1em;
    }
    .what-they-say-upper{
        align-items: start;
        justify-content: center;
        /* text-align: center; */
        flex-direction: column;
    }
    .energy-div{
        flex-direction: column;
    }
    .energy-cards{
        justify-content: center;
        /* flex-direction: column; */
    }
}
@media screen and (max-width: 768px){
    .our-values-section-cards{
        grid-template-columns: 1fr;
        width: 100%;
        grid-template-rows: repeat(3,1fr);
        grid-row-gap: 1em;
    }
    .energy-cards{
        /* justify-content: center; */
        flex-direction: column;
    }
    .energy-card{
        width: 100%;
    }
}
.what-they-say-section{
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}
.pagination-dots{   
    display: grid;
    width: 50%;
    grid-template-columns: repeat(5,1fr);
}
.dot{
    color: #D9D9D9;
    font-size: 25px;
    cursor: pointer;
}
.active{
    color: #6B6B6B;
}

.card{
    background-color: #f5fffd;
    border: 1px solid #3CAB90;
    border-radius: 12px;
    padding: 1.5em;
}
.what-they-say-title{
    width: 100%;
}
.what-they-say-title h1{
    font-weight: 700;
    font-size: 48px;
}
.what-they-say-text .small-txt{
    color: #3CAB90;
    font-weight: 700;
    font-size: 16px;
}
.what-they-say{
    justify-content: center;
    gap: 10px;
}
.what-they-say-upper{
    display: flex;
    align-items: start;
    justify-content: center;
    /* flex-direction: row; */
}
.what-they-say-container{
    background-color: #f5fffd;
    border-radius: 12px;
    padding: 40px;
}
.opinions{
    font-size: 24px;
    font-weight: 400;
}
.left-side{
    align-items: center;
    justify-content: start;
}
.user-info{
    line-height: 0.5;
    margin-left: 10px;
    font-size: 16px;
    color: var(--smallTextColor);
}
.user-name{
    font-weight: 700;
}
.job-description{
    font-weight: 400;
}
.people-that-say-slider{
    justify-content: space-between;
    align-items: center;
}
.right-side .btn{
    border: 1px solid var(--smallTextColor);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: transparent;
    cursor: pointer;
}
.repairs-over-replacement-section{
    background-image: url('./Images/8116\ 1.png');
    width: 100%;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    justify-content: center;
}
.repairs-over-replacement-div{
    background-color: rgba(0, 0, 0, 0.57);
    padding: 20px;
    text-align: center;
    color: var(--lightTextColor);
    border-radius: 12px;
    width: 47%;
}
.repairs-over-replacement-div h1,.installers-left-side h1{
    font-size: 42px;
    font-weight: 600;
}
.repairs-over-replacement-div p{
    font-size: 20px;
    font-weight: 500;
}
.power-section{
    justify-content: center;
    align-items: center;
    background-image: url('./Images/8116\ 1\ \(1\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 80vh;
}
.power-div{
    color: var(--lightTextColor);
}
.power-div div{
    width: 58%;
}
.power-div h1{
    font-size: 42px;
    font-weight: 600;
    
}
.power-div p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.power-div button{
    border: none;
    color: #2A3334;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--buttonBackgroundColor);
    border-radius: 109px;
    padding: 10px 35px;
}


/* footer styling */

footer{
    background-color: #283646;
    color: var(--lightTextColor);
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.footer-upper-div{
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}
.left-side-footer ul{
    justify-content: space-between;
    padding: 0;
    margin-top: 50px;
}
.left-side-footer ul li{
    cursor: pointer;
    margin-right: 10px;
}
.left-side-footer{
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
}
@media (max-width: 768px){
    .footer-upper-div{
        display: block;
    }
    .left-side-footer{
        align-items: start;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    }
    .left-side-footer ul{
        margin: 0;
        margin-top: 20px;
        /* background-color: red; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    }
    .footer-lower-div ul{
        display: block;
        line-height: 30px;
    }
}
.container{
    width: 80%;
}
.subscribe-container-input{
    border: 1px solid #92989F;
    border-radius: 40px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #2f4055;
    font-size: 16px;
    font-weight: 400;
}
.subscribe-container-input input{
    border: none;
    outline: none;
    padding: 10px;
    width: 60%;
    background-color: transparent;
    color: #92989F;
}
.subscribe-btn{
    border-radius: 40px;
    border: none;
    background-color: var(--buttonBackgroundColor);
    padding: 12px;
    color: var(--lightTextColor);
    width: 140px;
}
.footer-lower-div ul{
    color: #92989F;
    padding: 0;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
}

hr{
    border: none;
    border-top: 1px solid #92989F;
}