@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --smallTextColor: #1C1C1C;
    --buttonBackgroundColor: #FFBB1C;
    --lightTextColor: white;
    --smallDevicesMaxWidth: 767px;
    --smallDevicesMinWidth: 480px;
    --mediumDevicesMaxWidth: 991px;
    --mediumDevicesMinWidth: 768px;
    
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.our-values-section,
.what-they-say-section,
.what-they-say,
.left-side,
.people-that-say-slider,
.footer-lower-div ul,
.repairs-over-replacement-sect,
.left-side-footer ul,
.power-section,
.left-side-footer,
footer,
.footer-upper-div,
.subscribe-container-input,
.repairs-over-replacement-section{
    display: flex;
}
.our-values-section{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 8%;
}
.our-values-section h1{
    font-size: 42px;
    color: #101828;
}
.our-values-description-txt{
    color: #475467;
    font-size: 18px;
    font-weight: 400;
}
.our-values-section-cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    grid-column-gap: 1em;
    margin-top: 15px;
}
.what-they-say-section{
    align-items: center;
    justify-content: center;
    padding: 60px 0;
}
.pagination-dots{   
    display: grid;
    width: 30%;
    grid-template-columns: repeat(5,1fr);
}
.dot{
    color: #D9D9D9;
    font-size: 25px;
    cursor: pointer;
}
.active{
    color: #6B6B6B;
}

.card{
    background-color: #f5fffd;
    border: 1px solid #3CAB90;
    border-radius: 12px;
    padding: 1.5em;
}
.what-they-say-title{
    width: 100%;
}
.what-they-say-title h1{
    font-weight: 700;
    font-size: 48px;
}
.what-they-say-text .small-txt{
    color: #3CAB90;
    font-weight: 700;
    font-size: 16px;
}
.what-they-say{
    justify-content: center;
}
.what-they-say-container{
    background-color: #f5fffd;
    border-radius: 12px;
    padding: 40px;
}
.opinions{
    font-size: 24px;
    font-weight: 400;
}
.left-side{
    align-items: center;
    justify-content: start;
}
.user-info{
    line-height: 0.5;
    margin-left: 10px;
    font-size: 16px;
    color: var(--smallTextColor);
}
.user-name{
    font-weight: 700;
}
.job-description{
    font-weight: 400;
}
.people-that-say-slider{
    justify-content: space-between;
    align-items: center;
}
.right-side .btn{
    border: 1px solid var(--smallTextColor);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: transparent;
    cursor: pointer;
}
.repairs-over-replacement-section{
    background-image: url('./Images/8116\ 1.png');
    width: 100%;
    height: 80vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    justify-content: center;
}
.repairs-over-replacement-div{
    background-color: rgba(0, 0, 0, 0.57);
    padding: 20px;
    text-align: center;
    color: var(--lightTextColor);
    border-radius: 12px;
    width: 47%;
}
.repairs-over-replacement-div h1{
    font-size: 42px;
    font-weight: 600;
}
.repairs-over-replacement-div p{
    font-size: 20px;
    font-weight: 500;
}
.power-section{
    justify-content: center;
    align-items: center;
    background-image: url('./Images/8116\ 1\ \(1\).png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 80vh;
}
.power-div{
    color: var(--lightTextColor);
}
.power-div div{
    width: 58%;
}
.power-div h1{
    font-size: 42px;
    font-weight: 600;
    
}
.power-div p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
.power-div button{
    border: none;
    color: #2A3334;
    font-size: 14px;
    font-weight: 400;
    background-color: var(--buttonBackgroundColor);
    border-radius: 109px;
    padding: 10px 35px;
}


/* footer styling */

footer{
    background-color: #283646;
    color: var(--lightTextColor);
    align-items: center;
    justify-content: center;
    padding: 40px 0;
}

.footer-upper-div{
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 50px;
}
.left-side-footer ul{
    list-style: none;
    justify-content: space-between;
    padding: 0;
    margin-top: 50px;
}
.left-side-footer ul li{
    cursor: pointer;
    margin-right: 10px;
}
.left-side-footer{
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
}
@media (max-width: 767px){
    .footer-upper-div{
        display: block;
    }
    .left-side-footer{
        align-items: start;
        justify-content: space-between;
        flex-direction: column;
        width: 100%;
    }
    .left-side-footer ul{
        margin: 0;
        margin-top: 20px;
        /* background-color: red; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 2fr 1fr;
    }
    .footer-lower-div ul{
        display: block;
        line-height: 30px;
    }
}
.container{
    width: 80%;
}
.subscribe-container-input{
    border: 1px solid #92989F;
    border-radius: 40px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #2f4055;
    font-size: 16px;
    font-weight: 400;
}
.subscribe-container-input input{
    border: none;
    outline: none;
    padding: 10px;
    width: 60%;
    background-color: transparent;
    color: #92989F;
}
.subscribe-btn{
    border-radius: 40px;
    border: none;
    background-color: var(--buttonBackgroundColor);
    padding: 12px;
    color: var(--lightTextColor);
    width: 140px;
}
.footer-lower-div ul{
    color: #92989F;
    padding: 0;
    margin-top: 50px;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

hr{
    border: none;
    border-top: 1px solid #92989F;
}